@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 16px; 
    scroll-behavior: smooth;
    scrollbar-width: none; /* Oculta la barra de scroll */
}

body{
    margin: 1vh 2vw;
    background-color: cadetblue;
    line-height: 1.6;
    overflow: hidden;
    font-family: "Jersey 10", sans-serif;
}

/* ---------- ESTILOS DE LA BARRA DE TAREAS ---------- */

.taskbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: #c0c0c0;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0 10px;
    box-shadow: inset 0 1px #808080;
}

.taskbar-izq {
    display: flex;
    align-items: center;
    gap: 5px;
}

.inicio{
    display: flex;
    align-items: center;
}

.inicio img{
    width: 110px;
    height: 100%;
    cursor: pointer;
}

.taskbar-der {
    display: flex;
    align-items: center;
    gap: 10px;
    
    box-shadow: #9d9c9c5e 0px 30px 60px -12px inset, #00000027 0px 18px 36px -18px inset;
    padding: 0.3rem;
}

/* ESTILOS PARA EL CONTENIDO DESPLEGABLE DEL BOTÓN INICIO */

.inicio-container {
    position: relative;
    display: inline-block; 
}

.taskbar-desplegada {
    display: none;
    position: absolute;
    bottom: 100%; 
    left: 0;
    padding: 1rem 2rem;
    background-color: #F6F2E4;
}


/* ICONOS DE APLICACIONES */
.iconos-escritorio{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-content:flex-start;
    row-gap: 1rem;
    column-gap: 5rem;
    margin-top: 1rem;
    width: auto;
    height: 90%;
}

.icon{
    text-align: center;
    width: auto;
    height: auto;
    cursor: pointer;
    img{
        width: 60px;
        height: 60px;
    }
    a{
        text-decoration: none;
        color: black;
    }
}