/* ---------- ESTILOS DE LA VENTANA DEL JUEGO ---------- */

.ventana[data-ventana="juego"] {
    width: 685px;
    height: auto;
    font-family: "Pixelify Sans";
    font-weight: 400;
    color: #000;
    text-align: center;
    font-style: normal;
}

.titulo-juego{
    font-family: "Jersey 10";
    font-size: 5rem;
    line-height: normal;
}

.subtitulo-juego{
    font-size: 1.25rem;
    line-height: normal;
    text-transform: uppercase;
}

.juego-portada{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1rem 0;
}

.juego-columna{
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.juego-inicio{
    display: flex;
    flex-direction: column;
}

#player{
    margin: 1rem 0;
}

.juego-opciones{
    display: grid;
    grid-template-rows: 1fr;
}

.juego-opcion{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.juego-disco{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.juego-disco img{
    width: 30%;
}

.juego-disco h3{
    font-size: 1.7rem;
}

.juego-disco h5{
    font-size: 1.3rem;
}

.btn-juego{
    font-family: "Pixelify Sans";
    font-weight: 500;
    font-size: 24px;
    width: 150px;
    height: 60%;
    margin: 1rem 0;
    padding: 1rem;
    background-color: #D4A8E5;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.36);
    border: none;
    cursor: pointer;
}

.botones-juego{
    font-family: "Pixelify Sans";
    width: 30%;
    font-size: 1.5rem;
    padding: 0.5rem 1.3rem;
    background-color: #F6F2E4;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.36);
    cursor: pointer;
    margin: auto;
}

.botones-juego:hover{
    transform: translateY(-5px);
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.juego-fin{
    /*background-image: url();*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.juego-fin button{
    margin-top: 1rem;
}